.row1 {
  position: relative;
}
.bottom-left {
  width: 350px;
  height: 250px;
  position: absolute;
  bottom: 35%;
  left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: #3a3b38;
  opacity: 0.8; /* độ mờ của thẻ div */
}

.bar {
  height: 1px;
  width: 80px;
  background-color: rgb(250, 198, 35);
  position: relative;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.diamond {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  background-color: rgb(250, 198, 35);
  border: 1px solid rgb(250, 198, 35);
  margin: 0 auto;
  right: 0;
  left: 0;
}

.row2 {
  height: 600px;
  display: flex;
  margin-top: -10px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
.row2-2,
.row3-1 {
  width: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto 0;
}

.row3 {
  height: 600px;
  display: flex;
  box-sizing: border-box;
  background-color: black;
}
@media only screen and (min-width: 1200px) {
  .row1 {
    position: relative;
  }
  .bottom-left {
    width: 350px;
    height: 250px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: #3a3b38;
    opacity: 0.8; /* độ mờ của thẻ div */
  }

  .bar {
    height: 1px;
    width: 80px;
    background-color: rgb(250, 198, 35);
    position: relative;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .diamond {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    background-color: rgb(250, 198, 35);
    border: 1px solid rgb(250, 198, 35);
    margin: 0 auto;
    right: 0;
    left: 0;
  }

  .row2 {
    height: 600px;
    display: flex;
    margin-top: -10px;
    box-sizing: border-box;
    background-color: black;
  }
  .row2-2,
  .row3-1 {
    width: 40%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
  }

  .row3 {
    height: 600px;
    display: flex;
    box-sizing: border-box;
    background-color: black;
  }
}
