.container {
    width: 100%;
}
.img {
    position: relative;
}
.style-img {
    width: 100%;
    height: 450px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 60px;
    letter-spacing: .1em;
}
h1 {
    text-align: center;
    font-size: 55px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 80px 0px;
    color: #4d4d4e;
    letter-spacing: 0.1em;
}

.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 70px;
}
.row1-4 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-left: 50px;
}
.row1-1, .row1-2, .row1-3 {
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}
.text1, .text2, .text3,
.text4, .text5, .text6, .text7, 
.text10, .text11, .text12,
.text13, .text14, .text15,
.text16, .text17,.text18,
.text19, .text20,
.text21, 
.text22, .text23 {
    box-sizing: border-box;
    height: 70px;
    position: absolute;
    bottom: 5px;
    font-size: 17px;
    text-align: center;
    background-color: brown;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    left: 0;
    white-space: normal;
    cursor: pointer;
    opacity: 0.8;
}
.row1-1:hover .text1 { background-color:#2f3640;}
.row1-2:hover .text2 { background-color:#2f3640;}
.row1-3:hover .text3 { background-color:#2f3640;}

.vertical {
    width: 10px;
    height: 400px;
    background-color: #ab9e96;
}


.row2-4 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-right: 50px;
}
.row2-1, .row2-2, .row2-3, .row2-5 {
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
}
.row2-1:hover .text4 { background-color:#2f3640;}
.row2-2:hover .text5 { background-color:#2f3640;}
.row2-3:hover .text6 { background-color:#2f3640;}
.row2-5:hover .text7 { background-color:#2f3640;}


.row3-3 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-left: 50px;
}
.text8, .text9 {
    box-sizing: border-box;
    height: 70px;
    position: absolute;
    bottom: 5px;
    font-size: 17px;
    text-align: center;
    background-color: #2f3640;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    left: 0;
    white-space: normal;
    cursor: pointer;
    opacity: 0.8;
}
.row3-1, .row3-2 {
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}
.row3-1:hover .text8 { background-color: brown;}
.row3-2:hover .text9 { background-color: brown;}


.row4-4 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-right: 50px;
}
.row4-1, .row4-2, .row4-3 {
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
}
.row4-1:hover .text10 { background-color:#2f3640;}
.row4-2:hover .text11 { background-color:#2f3640;}
.row4-3:hover .text12 { background-color:#2f3640;}


.row5-4 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-left: 50px;
}
.row5-1, .row5-2, .row5-3 {
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}
.row5-1:hover .text13 { background-color:#2f3640;}
.row5-2:hover .text14 { background-color:#2f3640;}
.row5-3:hover .text15 { background-color:#2f3640;}


.row6-4 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-right: 50px;
}
.row6-1, .row6-2, .row6-3 {
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
}
.row6-1:hover .text16 { background-color:#2f3640;}
.row6-2:hover .text17 { background-color:#2f3640;}
.row6-3:hover .text18 { background-color:#2f3640;}


.row7-3 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-left: 50px;
}
.row7-1, .row7-2 {
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}
.row7-1:hover .text19 { background-color:#2f3640;}
.row7-2:hover .text20 { background-color:#2f3640;}


.row8-1 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-right: 50px;
}
.row8-2 {
    box-sizing: border-box;
    margin-left: 30px;
    position: relative;
}
.row8-2:hover .text21 { background-color:#2f3640;}


.row9-3 {
    font-family:'Lucida Sans';
    font-size: 110px;
    padding-left: 50px;
}
.row9-1, .row9-2 {
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}
.row9-1:hover .text22 { background-color: #2f3640;}
.row9-2:hover .text23{ background-color: #2f3640;}

