*{
    box-sizing: border-box;
    margin: auto;
}
.Container1{
   text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.Container2{
    display: flex;
    border-bottom: 2px solid black;
    flex-direction: row;
    margin-top: 70px;
    height: 400px;
    column-gap: 20px;
    padding: 0px 5px;
    text-align: center;

}
.box1{
    
    width: 25%;
    height: 100%;;
}
.box2{
    
    width: 25%;
    height: 100%;;
}
.box3{
    
    width: 25%;
    height: 100%;;
}
.box4{
    
    width: 25%;
    height: 100%;;
}


.img{
    width: 100%;
    height: 60%;
}
.btn-recipe{
    margin-top: 10px;
}
.page{
  
    text-align: center;
    padding-top: 30px;
    height: 100px ;
    font-size: 20px;       
    column-gap: 5px;
    font-weight: bold;
}
.Container3{
    display: flex;
    
    flex-direction: row;
    margin-top: 50px;
    height: 400px;
    column-gap: 20px;
    padding: 0px 5px;
    text-align: center;
}
