header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navbar {
  display: flex;
  background-color: black;
  text-align: center;
}

.logo {
  font-size: 25px;
  padding: 0 40px;
  color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}
li {
  float: left; /* làm cho các li nằm ngang */
}
li a,
.dropbtn {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover,
.dropdown:hover .dropbtn {
  text-decoration: underline; /*  tạo dấu gạch chân khi di chuột qua  */
}
.dropdown-content {
  display: none; /* mặc định ẩn trình thả xuống */
  position: absolute; /* không làm cho cả thẻ div rộng ra khi di chuột vào meals hiện thị danh sách thả xuống */
  background-color: rgb(40, 37, 37);
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3d2121;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*phần search*/
.search {
  padding: 20px 0px 0px 100px;
}
#search-box {
  background: #fff;
  border-radius: 30px;
}

#search-text {
  border: none;
  outline: none;
  background: none;
  padding: 10px 0px 10px 15px;
  font-size: 15px;
  width: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

#search-box:hover #search-text,
#search-box #search-text:valid {
  /* khi điền thông tin sẽ không bị thu nhỏ khi di chuột ra ngoài phạm vi*/
  width: 100px;
  padding: 5px 10px;
}

#search-btn {
  background-color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 15px;
}

/*phần user*/
.dropbtn-user {
  background-color: rgb(9, 9, 9);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-user {
  padding: 20px 0px 0px 20px;
}

.dropdown-login {
  display: none; /* mặc định ẩn trình thả xuống */
  text-align: left;
  position: absolute; /* không làm cho cả thẻ div rộng ra khi di chuột vào meals hiện thị danh sách thả xuống */
  background-color: rgb(40, 37, 37);
}

.dropdown-login a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* căn dọc */
}

.dropdown-login a:hover {
  background-color: #3d2121;
}

.dropdown-user:hover .dropdown-login {
  display: block; /* hiện thị danh sách thả xuống */
}
.dropdown-user:hover .dropbtn-user {
  background-color: #530303; /* đổi màu nền khi di chuột vào liên kết thả xuống */
}

@media only screen and (min-width: 1200px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .navbar {
    display: flex;
    background-color: black;
    text-align: center;
  }

  .logo {
    font-size: 25px;
    padding: 0 40px;
    color: white;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
  }
  li {
    float: left; /* làm cho các li nằm ngang */
  }
  li a,
  .dropbtn {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  li a:hover,
  .dropdown:hover .dropbtn {
    text-decoration: underline; /*  tạo dấu gạch chân khi di chuột qua  */
  }
  .dropdown-content {
    display: none; /* mặc định ẩn trình thả xuống */
    position: absolute; /* không làm cho cả thẻ div rộng ra khi di chuột vào meals hiện thị danh sách thả xuống */
    background-color: rgb(40, 37, 37);
  }

  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #3d2121;
  } /* đổi màu nền khi di chuột vào liên kết thả xuống */

  .dropdown:hover .dropdown-content {
    display: block; /* hiện thị danh sách thả xuống */
  }

  /*phần search*/
  .search {
    padding: 20px 0px 0px 100px;
  }
  #search-box {
    background: #fff;
    border-radius: 30px;
  }

  #search-text {
    border: none;
    outline: none;
    background: none;
    padding: 10px 0px 10px 15px;
    font-size: 15px;
    width: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  #search-box:hover #search-text,
  #search-box #search-text:valid {
    /* khi điền thông tin sẽ không bị thu nhỏ khi di chuột ra ngoài phạm vi*/
    width: 100px;
    padding: 5px 10px;
  }

  #search-btn {
    background-color: #fff;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
  }

  /*phần user*/
  .dropbtn-user {
    background-color: rgb(9, 9, 9);
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .dropdown-user {
    padding: 20px 0px 0px 20px;
  }

  .dropdown-login {
    display: none; /* mặc định ẩn trình thả xuống */
    text-align: left;
    position: absolute; /* không làm cho cả thẻ div rộng ra khi di chuột vào meals hiện thị danh sách thả xuống */
    background-color: rgb(40, 37, 37);
  }

  .dropdown-login a {
    color: white;
    padding: 12px 16px;
    text-decoration: none; /* bỏ dấu gạch chân mặc định */
    display: block; /* căn dọc */
  }

  .dropdown-login a:hover {
    background-color: #3d2121;
  } /* đổi màu nền khi di chuột vào liên kết thả xuống */

  .dropdown-user:hover .dropdown-login {
    display: block; /* hiện thị danh sách thả xuống */
  }
  .dropdown-user:hover .dropbtn-user {
    background-color: #530303; /* đổi màu nền khi di chuột vào liên kết thả xuống */
  }
}
